h2 {
    color: rgb(255, 0, 0); font-size: 30px;
}
#n01{
    color:#1417dd; font-size: 20px;
}
.n02{
    color:blueviolet; font-size: medium;
}
#main{
    color:rgb(35, 199, 144); font-size: medium;
}
.cha .con{
    color: #2cb973; font-size: 50px;
}